parameters:
    level: 5
    memory: 100M
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Parameter \#[0-9] \$[a-zA-Z0-9]+ of method Shawm11\\Iron\\Iron::[a-zA-Z0-9_]+\(\) expects [a-z|]+#'
            path: %currentWorkingDirectory%/tests/IronTest.php